n8n-workflows/workflow-1-pedido-manual-v2.json
{
  "name": "Workflow 1: Pedido Manual a Firebase (v2)",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Trigger Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// === DATOS DEL PEDIDO (Edita aquí) ===\nconst cliente = 'Juan Pérez';\nconst telefono = '3042734424';\nconst itemsTexto = '2x Hamburguesa Clásica, 1x Papas Grandes, 1x Coca-Cola';\nconst total = 15000;\nconst direccion = 'Calle 123 #45-67, Barranquilla';\n\n// === PROCESAMIENTO ===\nconst pedidoId = 'PED-' + Date.now();\nconst timestamp = Date.now(); // Timestamp en milisegundos\n\n// Parsear items\nconst itemsArray = itemsTexto.split(',').map(item => {\n  const match = item.trim().match(/(\\d+)x\\s*(.+)/);\n  if (match) {\n    return {\n      cantidad: parseInt(match[1]),\n      nombre: match[2].trim()\n    };\n  }\n  return { cantidad: 1, nombre: item.trim() };\n});\n\n// Crear pedido\nconst pedido = {\n  id: pedidoId,\n  cliente: cliente,\n  telefono: telefono,\n  items: itemsArray,\n  total: total,\n  direccion: direccion,\n  estado: 'pendiente',\n  timestamp: timestamp,\n  tiempoTranscurrido: 0\n};\n\nreturn { pedido };"
      },
      "id": "2",
      "name": "Crear Pedido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kds-app-7f1d3-default-rtdb.firebaseio.com/pedidos.json?auth=nuVb18oHU9sRekO5FhEkPjbI1dgOWygc3ZX8b458",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.pedido }}",
        "options": {}
      },
      "id": "3",
      "name": "Insertar en Firebase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Obtener el pedido creado\nconst pedido = $('Crear Pedido').first().json.pedido;\nconst firebaseResponse = $input.first().json;\n\nconst mensaje = `✅ *Pedido Confirmado* #${pedido.id}\\n\\n📦 *Tu pedido:*\\n${pedido.items.map(item => `• ${item.cantidad}x ${item.nombre}`).join('\\n')}\\n\\n💰 *Total:* $${pedido.total.toLocaleString()}\\n⏱️ *Tiempo estimado:* 30 min\\n📍 *Dirección:* ${pedido.direccion}\\n\\n¡Gracias por tu pedido! 🍔`;\n\nreturn {\n  pedidoId: pedido.id,\n  firebaseId: firebaseResponse.name,\n  mensaje: mensaje,\n  cliente: pedido.cliente,\n  telefono: pedido.telefono,\n  success: true\n};"
      },
      "id": "4",
      "name": "Generar Confirmación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Trigger Manual": {
      "main": [
        [
          {
            "node": "Crear Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Pedido": {
      "main": [
        [
          {
            "node": "Insertar en Firebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar en Firebase": {
      "main": [
        [
          {
            "node": "Generar Confirmación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-02T00:00:00.000Z",
  "versionId": "2"
}
