n8n-workflows/workflow-1-pedido-manual.json
{
  "name": "Workflow 1: Pedido Manual a Firebase",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Trigger Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "cliente",
              "value": "Juan Pérez"
            },
            {
              "name": "telefono",
              "value": "3042734424"
            },
            {
              "name": "items",
              "value": "2x Hamburguesa Clásica, 1x Papas Grandes, 1x Coca-Cola"
            },
            {
              "name": "total",
              "value": "15000"
            },
            {
              "name": "direccion",
              "value": "Calle 123 #45-67, Barranquilla"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Datos de Pedido",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generar ID único de pedido\nconst pedidoId = 'PED-' + Date.now();\nconst timestamp = new Date().toISOString();\n\n// Obtener datos del pedido desde el input\nconst inputData = $input.first().json;\nconst cliente = inputData.cliente || 'Cliente Sin Nombre';\nconst telefono = inputData.telefono || '';\nconst items = inputData.items || '';\nconst total = parseInt(inputData.total) || 0;\nconst direccion = inputData.direccion || '';\n\n// Parsear items (simplificado)\nlet itemsArray = [];\nif (items && typeof items === 'string') {\n  itemsArray = items.split(',').map(item => {\n    const match = item.trim().match(/(\\d+)x\\s*(.+)/);\n    if (match) {\n      return {\n        cantidad: parseInt(match[1]),\n        nombre: match[2].trim()\n      };\n    }\n    return { cantidad: 1, nombre: item.trim() };\n  });\n}\n\n// Crear objeto de pedido\nconst pedido = {\n  id: pedidoId,\n  cliente: cliente,\n  telefono: telefono,\n  items: itemsArray,\n  total: total,\n  direccion: direccion,\n  estado: 'en-cola',\n  timestamp: timestamp,\n  tiempoTranscurrido: 0\n};\n\nreturn { pedido };"
      },
      "id": "3",
      "name": "Procesar Pedido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kds-app-7f1d3-default-rtdb.firebaseio.com/pedidos.json?auth=nuVb18oHU9sRekO5FhEkPjbI1dgOWygc3ZX8b458",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.pedido }}",
        "options": {}
      },
      "id": "4",
      "name": "Insertar en Firebase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Obtener el pedido desde el nodo anterior (Procesar Pedido)\n// Firebase responde con {name: \"-abc123\"}, pero necesitamos el pedido original\nconst items = $('Procesar Pedido').first().json.pedido;\n\n// Si items existe (viene del nodo Procesar Pedido)\nif (items) {\n  const mensaje = `✅ *Pedido Confirmado* #${items.id}\\n\\n📦 *Tu pedido:*\\n${items.items.map(item => `• ${item.cantidad}x ${item.nombre}`).join('\\n')}\\n\\n💰 *Total:* $${items.total.toLocaleString()}\\n⏱️ *Tiempo estimado:* 30 min\\n📍 *Dirección:* ${items.direccion}\\n\\n¡Gracias por tu pedido! 🍔`;\n  \n  return {\n    pedidoId: items.id,\n    mensaje: mensaje,\n    cliente: items.cliente,\n    telefono: items.telefono,\n    success: true\n  };\n} else {\n  return {\n    error: 'No se pudo obtener el pedido',\n    success: false\n  };\n}"
      },
      "id": "5",
      "name": "Generar Confirmación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Trigger Manual": {
      "main": [
        [
          {
            "node": "Datos de Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos de Pedido": {
      "main": [
        [
          {
            "node": "Procesar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Pedido": {
      "main": [
        [
          {
            "node": "Insertar en Firebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar en Firebase": {
      "main": [
        [
          {
            "node": "Generar Confirmación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-01T00:00:00.000Z",
  "versionId": "1"
}
